body {
	font: 100% Tahoma, Geneva, sans-serif;
	color: #000000;	
	background: #F4F4F4 url(../images/background.png) repeat-x;
}

.oneColElsCtr #container {
	background: #FFFFFF url(../images/container_background.png) repeat-x;
}

h1 {
    color: #999;	
}
h2 {
    font-size: 15pt;
	color: #666;
	font-weight: bold;
	
}
h3 {
    color:#6CB6FF	
}

a:link      { color:#999; text-decoration:none; }
a:visited   { color:#999; text-decoration:none; }
a:hover     { color:#00a8f0; text-decoration:none; }
a:active    { color:#00a8f0; text-decoration:none; }

img {
    border: none;	
}

form {
    font-size: small;
	color: #999;
}

legend {
    font-size: 15pt;
	color: #666;
	font-weight: bold;
}

p.bookdes {
    font-size: 10pt;
	padding: 0;
	margin: 0;
}

div.bookinfo strong  {
	color: white;
	background: #999;
	padding: 2px 6px 2px 6px;
	/*font: "Arial Black", Gadget, sans-serif;*/
}

table.book-list,table#books-added {
	width: 100%;
	border-collapse:collapse;
	font-size: 90%;
}

table#books-added tr {
	padding: 5px;
	margin: 0;
	width: 100%;
	background-color: #EEE;
}

/*table.book-list tr {
	padding: 500px 100px;
	margin: 0;
	width: 100%;
	background-color: white;
}*/

table.book-list td {
	border-top: medium solid white;
	border-bottom: medium solid #EEE;
	vertical-align: middle;
	text-align: left;
	padding: 5px 10px;
	margin: 0px;
}

table.book-list h2 {
	margin: 0;
	padding: 0;
}

table#books-added td {
	border-top: medium solid white;
	border-bottom: medium solid white;
	vertical-align: middle;
	text-align: left;
	padding: 5px 10px;
	margin: 0px;
}

table#books-added td.book-fields {
	text-align: left;
}

strong {
	color: #666;
	/*font-size: 120%;*/
}

table#books-added h2 {
	margin: 0;
	padding: 0;
}

div.book-image {
	padding: 0;
	margin: 0;
	background: #666;
	text-align: center;
	height: 140px;
	width: 100px;
	position: relative;
}

div.book-image-L {
	padding: 0;
	margin: 0;
	background: #666;
	text-align: center;
	height: 351px;
	width: 250px;
	position: relative;
	font-size: large;
}

div.price-tag {
	background-color: transparent;
	background-image: url("../images/price_tag.png");
	background-repeat: no-repeat;

	width: 30px;
	height: 30px;
	font-size: x-small;
	color: #FFFFFF;
	text-align: center;
	line-height: 30px;

	top: -35px;
	left: 65px;
	position: relative;
}

div.price-tag-L {
	background-color: transparent;
	background-image: url("../images/price_tag_L.png");
	background-repeat: no-repeat;

	width: 60px;
	height: 60px;
	font-size: large;
	color: #FFFFFF;
	text-align: center;
	line-height: 60px;

	top: -35px;
	left: 65px;
	position: relative;
}

.remove-btn {
	font-size: 80%;
}